.ant-form {
  width: 700px;
  height: 300px;
  margin: auto;
  .ant-form-item-control-input-content {
    margin: auto;
  }
  .ant-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
