#normal_login {
  width: 400px;
  height: 310px;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 30px 20px;
  border-radius: 20px;
  box-shadow: 10px 8px 10px rgb(88, 88, 88);
}
#login_big_box {
  width: 100%;
  height: 100%;
  //   background-image: url(../../images/manage_background.jpg);
  background: url(../../images/manage_background.jpg) no-repeat;
  background-size: cover;
}
.ant-form-item-control-input-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .ant-row,
  .ant-form-item {
    margin: 0;
  }
}
#normal_login_code {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  .code {
    width: 110px;
    height: 32px;
    padding: 0;
    margin: 0;
    // border: 1px solid gray;
    background-color: rgb(230, 230, 230);
    text-align: center;
    cursor: pointer;
  }
}
