html,
body,
#root,
.mainer,
.am-flexbox {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .mainer {
    flex: 13;
  }

  .am-tab-bar {
    flex: 1;
    .am-tabs {
      display: flex;
      justify-content: center;
      flex: 0 0;
      // height: auto;
      .am-tabs-content-wrap {
        height: 0;
        flex: 0 0;
      }
      .am-tabs-tab-bar-wrap {
        .am-tabs-tab-bar {
          height: 10vh;
        }
        .am-tab-bar-bar{
          height: 100%;
        }
      }

      .menu-icon {
        flex: 1;
      }
    }
  }
}
