html,
body,
#root,
.mainer,
.am-flexbox {
  height: 100%;
}
#root{
  overflow: hidden;
  position: relative;
}
.App {
  text-align: center;
  height: 100%;
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .mainer {
    flex: 13;
  }

  .am-tab-bar {
    flex: 1;
    svg{
      font-size: 22px;
      z-index: 10;
    }
    .am-tabs {
      display: flex;
      justify-content: center;
      flex: 0 0;
      // height: auto;
      .am-tabs-content-wrap {
        height: 0;
        flex: 0 0;
      }
      .am-tabs-tab-bar-wrap {
        height: 100%;
        .am-tabs-tab-bar {
          height: 100%;
        }
        .am-tab-bar-bar{
          height: 100%;
          border-top: #eeeeee 1px solid;
        }
      }

      .menu-icon {
        flex: 1;
      }
    }
  }
}
