.add-category {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background: #ffffff;
  transition: 0.5s;
  z-index: 555;
  .am-tabs {
    box-sizing: border-box;
    // margin-top: -8px;
  }
  .am-tabs-tab-bar-wrap
    .am-tabs-default-bar-left
    .am-tabs-default-bar-content
    .am-tabs-default-bar-tab {
    width: 30vw;
    z-index: 556;
    // margin: -10px 0;
    // height: 10% !important;
  }
}
// .am-tabs-default-bar-underline {
//   height: 8% !important;
// }
