.addPicture {
  flex: 1;
  textarea {
    background: rgba(255, 255, 255, 0);
    border: 0;
    width: 100vw;
    box-sizing: border-box;
    flex: 1;
    padding: 10px 10px 0 10px;
    resize: none;
  }
  .am-card {
    height: 100%;
    .am-card-body::before{
        height: 0;
    }
  }

}
