#tab-bar.demo {
  display: flex;
  flex-direction: column;
}
#tab-bar .demoName {
  height: 40px;
}
#tab-bar .demo-preview-item .am-tab-bar {
  background-color: white;
}

.am-tab-bar-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.am-tab-bar,
.am-tabs-horizontal {
  height: 100%;
}
.am-tabs-tab-bar-wrap {
  position: relative;
  bottom: 0;
}
