.comment {
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 999;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: #fff;

    .showner-box {
        height: 7vh;
        background: #fff;
        display: flex;
        justify-content: space-between;
        padding: 0 3vw;
        border-bottom: 1px solid rgba(128, 128, 128, 0.2);
        color: rgb(128, 128, 128);
        .cancel {
            float: left;
            height: 7vh;
            line-height: 7vh;

        }

        h3 {
            color: black;
            font-size: 3vh;
            height: 7vh;
            line-height: 7vh;
            margin: 0;
        }

        .more {
            height: 7vh;
            line-height: 7vh;
            float: right;
        }
        .am-icon-md {
            width: 3vh;
        }
    }

    .content {
        flex: 1;
        position: relative;


        .imgPicker-box {
            position: absolute;
            bottom: 0;
            right: 0;
            width: auto;
            height: 16vw;
            overflow: hidden;
            background: snow;
            padding-left: 1vw;
            z-index: 999;

            .imgPicker {
                .am-flexbox-item,
                .am-image-picker-item {
                    width: 15vw;
                    height: 15vw;

                }
                .am-image-picker-list {
                    position: relative;
                    padding: 1vw;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    margin: 0px auto;
                }
                .am-image-picker-item-remove {
                    right: 0;
                    top: 0;
                    width: 24%;
                    height: 24%;
                    background-size: 100% auto;
                }
                .am-image-picker-item {
                    position: relative;
                    /* top: 0px; */
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    margin: 0 auto;
                }
                .am-image-picker-upload-btn {
                    opacity: 0;
                    position: absolute;
                    float: left;
                    z-index: -1;
                }
            }

        }
    }

    .other-content {
        height: 7vh;
        background: #fff;
        display: flex;
        justify-content: space-between;
        padding: 0 3vw;
        border-top: 1px solid rgba(128, 128, 128, 0.2);
        i {
            height: 7vh;
            line-height: 7vh;
            font-size: 3vh;
        }

        .input {
            width: 60vw;
            background: #fff;
            padding: 0;
            height: 7vh;

            .am-search-synthetic-ph,
            .am-search-value {
                background: #efeff4;
                height: 4vh;
                border-radius: 20px;
            }
            .am-search-input {
                height: 4vh;
            }
            .am-search-clear {
                height: 2vh;
            }
            .am-search-synthetic-ph-icon {
                display: none;
            }
            .am-search-synthetic-ph-container{
                font-size: 12px;
                float: left;
                height: 4vh;
                line-height: 4vh;
                margin-left:20vw;
            }
        }
    }
    .progress{
        position: fixed;
        top: 50vh;
        left: 50vw;
        transform: translateY(-50%) translateX(-50%);
        z-index: 9999;
        background: rgba(0, 0, 0, .85);
        width: 60vw;
        height: 50vw;
        .am-progress-outer{
            transform: translateY(25vw);
            width: 52vw;
            margin-left: 4vw;
            height: 1vh;
            background: rgba(0, 0, 0, .85);
            border: 1px solid white;
            border-radius: 4px;
        }
        span{
            color:#fff;
            font-size: 16px;
            display:block;
            text-align: center;
            transform: translateY(15vw);
        }
    }
}