.dlzc{
  // background-color: #1196fd;
  height: 100%;
  .isLogin{
    margin: 0;
    background: url(../assets/b_img_login.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 36vh;
    .set{
      position: absolute;
      top: 16px;
      right: 18px;
      display: inline-block;
      padding: 5px;
      border-radius: 3px;
      background-color: rgba(66, 66, 66, .2);
    }
    .am-wingblank{
      padding-top: 68px;
      .am-card{
        background: rgba(99, 99, 99, 0.69);
        &::before{
          display: none;
        }.am-card-header{
          .am-card-header-extra{
            flex: 0;
          }
        }
        .am-card-body{
          &::before{
            display: none;
          }
        }
      }
    }
  }
  .noLogin{
    width: 100%;
    height: 120px;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1398ff;
    .am-button{
      width: 100%;
      display: block;
    }
  }
}
.mine{
  width: 100%;
  height: 200px;
  background: url(../assets/50e6c0f6cf2be4066a7895670af7ce2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  .am-drawer-sidebar{
    width: 100%;
  }
}